/*
 * = RESETS =
 */

/* clearfix block elements */
section:after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

* {
    font-size: 1.8rem;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*
 * = GENERAL =
 */

h1 {
    background-color: black;
    color: white;
    padding: 4px;
    margin: 20px 0 0;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.8rem;
}

img {
    width: 100%;
}

p {
    padding: 0 10px;
}

.page-wrap {
    max-width: 1000px;
    margin: 0 auto;
}


/*
 * = SITE HEADER =
 */

.site-header {
    text-align: center;
}

.site-header .logo {
    width: 100%;
    padding: 10px;
}

@media (min-width: 700px) {
    .site-header .logo {
        width: 700px;
    }        
}

.site-header .contact-info a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    font-size: 2.4rem;
}


/*
 * = SITE FOOTER =
 */

.site-footer .logo {
    width: 150px;
}

.site-footer {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

.site-footer .contact-info a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    padding-top: 10px;
}


/*
 * = PAGE CONTENT =
 */

@media (min-width: 800px) {
    .page-content .banner img {
        width: 66.66%;
        display: block;
        float: left;
    }

    .page-content .banner p {
        width: 33.33%;
        display: block;
        float: left;
        margin: 0;
        padding-top: 6px;
    }

    .page-content .banner h1 {
        margin-top: 0;
    }

    .page-content .banner {
        overflow: hidden; /* cheap  clear fix */
        margin-top: 20px;
        position: absolute;
        background-color: white;

        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition-property: visibility, opacity;
        transition-duration: 1s;
    }

    .page-content .banner.active {
        z-index: 20;
        visibility: visible;
        opacity: 1;
        transition-property: visibility, opacity;
        transition-duration: 1s;
    }

    .page-content .banners {
        overflow: hidden; /* cheap  clear fix */
        position: relative;
        height: 0;
        padding-bottom: 40%;
    }
}

/*
 * = TEMPORARY =
 */

/*
.site-header,
.site-footer,
.page-content {
    width: 300px;
}
*/
