/*
 * = RESETS =
 */

/* clearfix block elements */
section:after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.group:after {
    content: "";
    display: table;
    clear: both;
}



/*
 * = GENERAL =
 */

h1 {
    background-color: black;
    color: white;
    padding: 4px;
    margin: 20px 0 0;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.8rem;
}

img {
    width: 100%;
}

p {
    padding: 0 10px;
}

.page-wrap {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


/*
 * = SITE HEADER =
 */

.site-header {
    text-align: center;
    position: relative; /* context for positioning contact info and promo */
}

.site-header .logo {
    width: 100%;
    padding: 1.5%;

    /* compensate for yellow slantedness */
    position: relative;
    left: 10px;
}

.site-header .contact-info {
    width: 300px;
    margin: 0 auto;
}

.site-header .contact-info a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    font-size: 2.4rem;
}

@media (min-width: 570px) {
    /* switch .site-header layout */
    .site-header .contact-info {
        position: absolute;
        right: 46%;
        margin: 0;
        margin-right: 10px;
    }

    .site-header .promo {
        position: absolute;
        left: 54%;
        margin: 0;
        margin-left: 10px;
    }

    /* create space for elements */
    .site-header {
        padding-bottom: 131px;
    }

    /* cap height on logo */
    .site-header .logo {
        max-width: 650px;
    }
}

@media (min-width: 1024px) {
    /* switch .site-header layout */
    .site-header .contact-info {
        right: auto;
        left: 10px;
        bottom: 10px;
    }

    .site-header .promo {
        left: auto;
        right: 10px;
        bottom: 10px;
    }

    .site-header {
        padding-bottom: 0;
    }

    .site-header .logo {
        width: 49%;
        left: 30px;
    }
}



/*
 * = SITE FOOTER =
 */

.site-footer .logo {
    width: 150px;
}

.site-footer {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

.site-footer .contact-info a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    padding-top: 10px;
}


/*
 * = PAGE CONTENT =
 */


@media (min-width: 800px) {
    .page-content .banner img {
        width: 66.66%;
        display: block;
        float: left;
    }

    .page-content .banner p {
        width: 33.33%;
        display: block;
        float: left;
        margin: 0;
        padding-top: 6px;
    }

    .page-content .banner h1 {
        margin-top: 0;
    }

    .page-content .banner {
        overflow: hidden; /* cheap  clear fix */
        margin-top: 20px;
        position: absolute;
        background-color: white;

        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition-property: visibility, opacity;
        transition-duration: 1s;
    }

    .page-content .banner.active {
        z-index: 20;
        visibility: visible;
        opacity: 1;
        transition-property: visibility, opacity;
        transition-duration: 1s;
    }

    .page-content .banners {
        overflow: hidden; /* cheap  clear fix */
        position: relative;
        height: 0;
        padding-bottom: 40%;
    }
}



/*= PROMOTIONS =*/



.promo {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 230px;
    margin: 20px auto;
}

.promo .header {
    display: block;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
}

.promo .body {
    display: block;
    width: 200px;
    margin: 0 auto;
    position: relative; /* context for promo label */
}

.promo .price {
    font-size: 3.5rem;
    line-height: 5rem;
    display: block;
    width: 60%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 2;
    transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    text-shadow: 0 -1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
    color: #E43A39;
}

.promo .body:before {
    content: "";
    background: url('img/starburst.svg') no-repeat;
    display: block;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 5px;
    top: -6px;
    overflow: visible;
    transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    z-index: 1;
}

.promo .service {
    display: block;
    width: 40%;
    font-size: 2rem;
    float: right;
    text-align: center;
    font-style: italic;
}

.promo .footer {
    clear: both;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}



/*= MEDIA QUERIES =*/
@media (min-width: 800px ) {
    /* position .promo on top of .site-header */
    .promo {
        position: top;
        width: 60%;
        float: right;
    }
    /* adjust .site-header layout to make room for .promo */
}
